.cabecalho {
  font-weight: bold;
  text-align: center;
 
}

.formulario {
    margin-left: 350px;
    width: 600px;
    height: 390px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 15px;
  
   
}
    



.back {
  height: 10%;
}

.bntCadastro {
  margin-left: 480px;
  width: 100px;
  margin-top: -67px;
}

.pgCadastro {
margin-left: 280px;
width: 190px;
}