.cabecalho {
  font-weight: bold;
  text-align: center;
 
}

.formulario {
    margin-left: 350px;
    width: 600px;
    height: 390px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 15px;
  
   
}
    
.bntCadastro {
    margin-left: 480px;
    width: 100px;
}