.cabecalho {
  font-weight: bold;
  text-align: center;
 
}

.formulario {
    margin-left: 350px;
    width: 600px;
    height: 590px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 15px;
  
   
}
    



.back {
  height: 10%;
}

.bntCadastro {
  
  width: 100px;
  margin-top: 5px;
 

  
  
}

.pgCadastro {

width: 170px;
margin-top: 15px;


}

/* .textArea 
  display: flex;
  flex-direction: row;
   */
