.card {
   
    background: -webkit-linear-gradient(340deg, #b2b2b200 0%, #ecedfd 100%);
    border: solid black 4px;
}


.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
    
    
    
}